<div class="card" (click)="irParaDetalheProduto(produto.id)">
  <app-product-cover class="card-cover" [name]="produto.name" [category]="produto.type"></app-product-cover>
  <div class="card-body">
    <h3 class="card-title text-truncate" style="width: 100%;">{{ produto.name }}</h3>
    <p class="card-price">R$ {{ produto.price | number: '1.2-2' }}</p>
    <p class="card-installment">{{ produto.parcelamento }}</p>

    <div class="quantity-container">
      <div class="quantity-controls">
        <button class="btn-quantity" (click)="diminuirQuantidade($event)">
          <i class="bi bi-dash-circle"></i>
        </button>
        <span class="quantity">{{ produto.quantity }}</span>
        <button class="btn-quantity" (click)="aumentarQuantidade($event)">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>

      <button class="btn-add-to-cart" (click)="adicionarItem($event)">
        <i class="bi bi-cart"></i> Adicionar ao Ritual
      </button>
    </div>
  </div>
</div>
